<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="ThyBiletEntities" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CANNUMAN;initial catalog=ThyBilet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="ThyBilet.Properties.Settings.ThyBiletConnectionString"
        connectionString="Data Source=CANNUMAN;Initial Catalog=ThyBilet;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>